aside {
  grid-area: sidebar;
  position: sticky;
  margin-left: 1rem;
  top: 16px; /* resta visibile scorrendo */
  background: #f8f5e8; /* sabbia chiara */
  border: 4px solid #333; /* bordo “pixel” */
  border-radius: 14px;
  box-shadow: 0 3px 0 #111, /* ombra dura GBA */ inset 0 2px 0 #fff; /* rilievo interno */
  padding: 16px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  
}

.chevron{
  display: none;
}

@media (max-width: 975px){
  aside {
    display: none;  /* Nascosta */
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;  /* Larghezza fissa per mobile */
    height: 80svh;
    z-index: 1000;
    transform: translateX(-100%);  /* Fuori schermo */
    transition: transform 0.3s ease;
  }
  
  aside.open {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
    gap: 3rem;
    transform: translateX(15%);
  }
  
  .chevron {
    display: block;  /* Mostra il pulsante hamburger */
    position: fixed;
    top: 10px;
    left: 10px;
    background: var(--surface);
    border: 2px solid var(--outline);
    padding: 5px;
    cursor: pointer;
    z-index: 1001;
    

  }
}